build/
dist/
lib/
ivy/ivy.jar
etc/junit.*
etc/run.*
docs/api
data/bible+shakes.nopunc
data/bible+shakes.nopunc.json.packed
data/bible+shakes.nopunc.tuple1.packed
data/bible+shakes.nopunc.tuple2.packed
regression-results
pom.xml.asc
*~
