build
cloud9.jar
etc/junit.*
etc/run.*
docs/api
docs/regression-results
data/bible+shakes.nopunc
data/bible+shakes.nopunc.json.packed
data/bible+shakes.nopunc.tuple1.packed
data/bible+shakes.nopunc.tuple2.packed
*~

