/* a { text-decoration: none; }*/
a:link, A:visited { color: #990000; }
a:hover { color: black; }
body {
  color: #555555;
  text-align: justify;
  margin-top: 20px;
  font-family: verdana, lucida sans unicode, verdana, sans, arial, helvetica, sans-serif;
}
td {
  font-size: 95%;
  padding: 5px;  }
code {
  font-size: 110%;
}
div.main {
  font-size: 95%;
  text-align: left;
  padding: 5px 10px 15px 0;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

/*pre {
  margin-left: 20px;
}*/

td.myheader
{
	border: 1pt solid #AEBDCC;
	background-color: #F3F5F7;
	padding: 3pt;
}

td.mycell
{
	border: 1pt solid #AEBDCC;
	/*background-color: #F3F5F7;*/
	padding: 3pt;
}

pre 
{
	border: 1pt solid #AEBDCC;
	background-color: #F3F5F7;
	padding: 5pt;
	/*font-family: courier, monospace;*/
	white-space: pre;
	/* begin css 3 or browser specific rules - do not remove!
	see: http://forums.techguy.org/archive/index.php/t-249849.html */
/*
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;*/
    /* end css 3 or browser specific rules */
}
/*
code {
font-weight: bold; }
*/